#bozhon-head-page{
    width: 100%;
    height: 40px;
    box-shadow:0 8px 6px -6px rgb(122, 120, 120);
    position:fixed;
    z-index: 1000;
    background-color: white;
}
#bozhon-head-logo {
   margin-left:10px;
   float: left;
}
#bozhon-head-logo img{
    width: 190px;
    height: 30px;
}
#bozhon-head-select{
    float: left;
    position: absolute;
    left: 950px;
}
#bozhon-head-select select{
    width: 150px;
    height: 30px;
    border:0px;
    border-bottom: 1px solid #383635;
    outline: none;
}

#bozhon-head-login{
   float: left;
   position: absolute;
   right: 120px;
   font-size: 15px;
   font-family: Microsoft Yahei;
   font-weight: 600;
   border-radius: 100%;
   width: 34px;
   height: 34px;
   overflow: hidden;
   cursor: pointer;
}
#bozhon-head-login img{
    height: 34px;
    widows: 34px;
    position: relative;
}
.bozhon-head-loginborder{
    border:3px solid #F8B62B;
}
#bozhon-head-mune{
    width: 150px;
    position: absolute;
    right: 50px;
    top: 50px;
    background-color:white;
    border-radius:0px 0px 4px 4px;
    border:1px solid #F1F1F1;
    z-index: 1001;
    text-align: center;
}
#bozhon-head-sanjiao{
    width: 0;
    height: 0;
    position: absolute;
    border-bottom: 10px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    z-index: 1002;
    left: 65px;
    top: -20px;
}
#bozhon-head-username{
    width: 70px;
     height: 30px;
     font-size: 18px;
    position: absolute;
    right: 50px;
    top:10px;
     cursor: pointer;
}
#bozhon-head-username img{
    width: 15px;
    height: 15px;
    padding-right: 20px;
    position: relative;
    left: 10px;
}
#bozhon-head-jump{
    width: 100%;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 1px solid #E1E1E1;
    padding-top: 10px;
}
#bozhon-head-jump img{
    width: 15px;
    height: 15px;
    position: relative;
    left: 10px;
    padding-right: 20px;
    cursor: pointer;
}
#bozhon-head-exit{
    width: 100%;
    height: 30px;
    cursor: pointer;
    font-size: 18px;
    padding-top: 10px;
}
#bozhon-head-exit img{
    width: 15px;
    height: 15px;
    position: relative;
    left: 10px;
    cursor: pointer;
    padding-right: 20px;
}
#bozhon-mune-box {
    height:555px;
    float:left;
    background-color: #F8B62B;
    position: fixed;
    top:40px;
    font-size: 10px;
    font-weight: 500;
}
.bozhon-mune-boxwidth{
    width: 15%;
}
.bozhon-mune-boxchange{
    width: 4%;
}
#bozhon-mune-btn{
    width:100%;
    height: 30px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}
#bozhon-mune-btn img{
    width:25px;
    height:25px;
}
.bozhon-mune-table{
    width:100%;
    height:50px;
    text-align:center;
    cursor:pointer;
}
.bozhon-mune-table img{
    height: 25px;
    width: 25px;
    position: relative;
    left:0px;
    top:10px;
    margin-right: 10px;
}
.bozhon-mune-table:hover{
    background-color: #B27306;
}
#bozhon-show-box{
    height:555px;
    float:left;
    margin-top:5px;
    position: relative;
    top: 40px;
}
.bozhon-show-boxclass{
    width: 85%;
    left: 15%;
}
.bozhon-show-boxchange{
    width: 96%;
    left: 4%;
}
#bozhon-show-one{
    width:100%;
    height:555px;
    background-color:white;
}
#bozhon-show-one-part1{
    float: left;
    width: 100%;
    height: 100px;
    background-color: white;
}
#bozhon-show-one-part1-low1{
    width: 95%;
    height: 70px;
    position: relative;
    left: 2.5%;
    border-bottom: 1px dotted #e0dcdc;
}
#bozhon-show-one-part1-low1 span:nth-child(1){
    font-size: 25px;
    font-style: heiti;
    font-weight: 700;
    position: relative;
    top: 30px;
    
}
#bozhon-show-one-part1-low1 span:nth-child(2){
    font-size:10px;
    font-style: heiti;
    font-weight: 500;
    position: relative;
    color: gray;
    top:33px;
    left: 3px;
}
#bozhon-show-one-part1-low1 span:nth-child(3){
    font-size:15px;
    font-style: heiti;
    font-weight: 500;
    position: relative;
    color: gray;
    top:33px;
    left: 3px;
}
#bozhon-show-one-part2{
   float: left;
   width: 100%;
   background-color: white;
}
#bozhon-show-one-part2-low1{
   width: 95%;
   position: relative;
   left: 2.5%;
   height: 40px;
   border-bottom:1px solid gray;
}
#bozhon-show-one-part2-low1 img:nth-child(1){
    width: 30px;
    height: 30px;
    position: relative;
    top:7px;
}
#bozhon-show-one-part2-low1 span:nth-child(2){
    font-size:20px;
    font-style: heiti;
    font-weight: 700;
    position: relative;
    color: gray;
}
#bozhon-show-one-part2-low1 span:nth-child(3){
    font-size:20px;
    font-style: heiti;
    font-weight: 700;
    position: absolute;
    left: 95%;
    top: 10px;
    color: gray;
}
#bozhon-show-one-part2-low1 img:nth-child(4){
    width:15px;
    height: 15px;
    position: absolute;
    left: 97%;
    top: 15px;
    cursor: pointer;
}
#bozhon-show-one-part2-low2{
     width: 95%;
    position: relative;
    left: 2.5%;
    overflow: hidden;
}
.bozhon-show-one-part2-low2class2{
    height: 0px;
}
.bozhon-show-one-part2-low2class{
    height: 155px;
}

.bozhon-show-one-part2-low2-boxclass{
   width: 19%;
   height: 70px;
   margin-right: 5px;
   margin-top: 5px;
   float: left;
   border:0.5px dotted #e0dcdc;
}
#bozhon-show-one-part3{
   float: left;
   width: 100%;
   background-color: white;
}
#bozhon-show-one-part3-low1{
    width: 95%;
    position: relative;
    left: 2.5%;
    height: 40px;
    border-bottom:1px solid gray;
 }
#bozhon-show-one-part3-low1 img{
    width: 30px;
    height: 30px;
    position: relative;
    top:7px;
}
#bozhon-show-one-part3-low1 span:nth-child(2){
    font-size:20px;
    font-style: heiti;
    font-weight: 700;
    position: relative;
    color: gray;
}
#bozhon-show-one-part3-low1 span:nth-child(3){
    font-size:20px;
    font-style: heiti;
    font-weight: 700;
    position: absolute;
    left: 95%;
    top: 10px;
    color: gray;
}
#bozhon-show-one-part3-low1 img:nth-child(4){
    width:15px;
    height: 15px;
    position: absolute;
    left: 97%;
    top: 15px;
    cursor: pointer;
}
#bozhon-show-one-part3-low2{
    width: 95%;
    position: relative;
    left: 2.5%;
    overflow: hidden;
}
.bozhon-show-one-part3-low2class2{
    height: 0px;
}
.bozhon-show-one-part3-low2class{
    height: 400px;
}
#bozhon-show-one-part4{
    float: left;
    width: 100%;
    background-color: white;
 }
 #bozhon-show-one-part4-low1{
    width: 95%;
    position: relative;
    left: 2.5%;
    height: 40px;
    border-bottom:1px solid gray;
 }
 #bozhon-show-one-part4-low1 img{
     width: 30px;
     height: 30px;
     position: relative;
     top:7px;
 }
 #bozhon-show-one-part4-low1 span:nth-child(2){
     font-size:20px;
     font-style: heiti;
     font-weight: 700;
     position: relative;
     color: gray;
 }
 #bozhon-show-one-part4-low1 span:nth-child(3){
    font-size:20px;
    font-style: heiti;
    font-weight: 700;
    position: absolute;
    left: 95%;
    top: 10px;
    color: gray;
}
#bozhon-show-one-part4-low1 img:nth-child(4){
    width:15px;
    height: 15px;
    position: absolute;
    left: 97%;
    top: 15px;
    cursor: pointer;
}
#bozhon-show-one-part4-low2{
    width: 95%;
    position: relative;
    left: 2.5%;
    overflow: hidden;
}
.bozhon-show-one-part4-low2class2{
    height: 0px;
}
.bozhon-show-one-part4-low2class{
    height: 250px;
}
#bozhon-show-two {
    width: 100%;
    height: 555px;
   
}
#bozhon-show-two-part1{
    float: left;
    width: 100%;
    height: 100px;
    margin-left: 5px;
    background-color: white;
}
#bozhon-show-two-part1-low1{
    width: 95%;
    height: 70px;
    position: relative;
    left: 2.5%;
    border-bottom:1px dotted #e0dcdc;
}
#bozhon-show-two-part1-low1 span:nth-child(1){
    font-size: 25px;
    font-style: heiti;
    font-weight: 700;
    position: relative;
    top: 30px;
    
}
#bozhon-show-two-part1-low1 span:nth-child(2){
    font-size:10px;
    font-style: heiti;
    font-weight: 500;
    position: relative;
    color: gray;
    top:33px;
    left: 3px;
}
#bozhon-show-two-part1-low1 span:nth-child(3){
    font-size:15px;
    font-style: heiti;
    font-weight: 500;
    position: relative;
    color: gray;
    top:33px;
    left: 3px;
}
#bozhon-show-two-part1-low1 input:nth-child(4){
    height: 25px;
    width: 40px;
    position: absolute;
    top:33px;
    right: 190px;
    background-color: #F8B62B;
    border: 0px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
#bozhon-show-two-part1-low1 input:nth-child(4):active{
    width: 38px;
    height: 23px;
    background-color: #B27306;
}
#bozhon-show-two-part1-low1 input:nth-child(5){
    height: 25px;
    width: 80px;
    position: absolute;
    top:33px;
    right: 100px;
    background-color: #F8B62B;
    border: 0px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
#bozhon-show-two-part1-low1 input:nth-child(5):active{
    width: 78px;
    height: 23px;
    background-color: #B27306;
}
#bozhon-show-two-part1-low1 input:nth-child(6){
    height: 25px;
    width: 80px;
    position: absolute;
    top:33px;
    right: 10px;
    background-color: #F8B62B;
    border: 0px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
#bozhon-show-two-part1-low1 input:nth-child(6):active{
    width: 78px;
    height: 23px;
    background-color: #B27306;
}
#bozhon-show-two-part2{
    float: left;
    width: 95%;
    margin-left: 5px;
}
#bozhon-show-two-part2-low1{
    widows: 95%;
    position: relative;
    left: 2.5%;
    background-color: #F8B62B;
    height: 40px;
    font-size: 14px;
}
#bozhon-show-two-part2-low1 span{
    position: relative;
    left: 10px;
    top: 10px;
}
#bozhon-show-two-part2-low2{
    widows: 95%;
    position: relative;
    left: 2.5%;
    text-align: center;
    border:1px solid #F1F1F1;
    border-collapse: 1px;
    border-spacing:0;
} 
#bozhon-show-two-part2-low2 tr:nth-child(1){
    background-color: #F1F1F1;
    width: 100%;
    height: 50px;
    border:0.2px solid #E1E1E1;
}
#bozhon-show-two-part2-low2 tr:nth-child(2){
    width: 100%;
    height: 30px;
    border:0.2px solid #E1E1E1;
}
#bozhon-show-two-part2-low2 td{
    border:0.2px solid #E1E1E1;
}
#bozhon-show-two-part2-low2 th{
    border:0.2px solid #E1E1E1;
}
#bozhon-show-two-part3{
    float: left;
    margin-left: 5px;
    width: 95%;
    position: relative;
    left: 2.5%;
    top:280px;
}
#bozhon-show-two-part3-pagebtn{
    width: 100%;
    height: 40px;
    background-color: #F1F1F1;
    text-align: center;
    border:1px solid #E1E1E1;
}
#bozhon-show-two-part3-pagefirst{
    float: left;
    position: relative;
    left: 350px;
    top: 10px;
}
#bozhon-show-two-part3-pagefirst img{
    height: 20px;
    width: 20px;
}
#bozhon-show-two-part3-pageprev{
    float: left;
    position: relative;
    left: 370px;
    top: 13px;
}
#bozhon-show-two-part3-pageprev img{
    height: 14px;
    width: 14px;
}
#bozhon-show-two-part3-pageinput{
    float: left;
    position: relative;
    left: 380px;
    top: 10px;
    color: gray;
}
#bozhon-show-two-part3-pageinput input{
    height: 20px;
    width: 20px;
    text-align: center;
}
#bozhon-show-two-part3-pagenext{
    float: left;
    position: relative;
    left: 380px;
    top: 10px;
}
#bozhon-show-two-part3-pagenext img{
    height: 20px;
    width: 20px;
}
#bozhon-show-two-part3-pagelast{
    float: left;
    position: relative;
    left: 390px;
    top: 10px;
}
#bozhon-show-two-part3-pagelast img{
    height: 20px;
    width: 20px;
}
#bozhon-show-two-part3-cue{
    float: left;
    position: relative;
    left: 700px;
    top: 10px;
    color:gray;
}
/* #bozhon-show-two-part3{
    float: left;
    width: 95%;
    margin-left:5px;
    position: absolute;
    left:2.5%;
    top:390px;
}
#bozhon-show-two-part3-low1{
    width: 95%;
}
#bozhon-show-two-part3-table{
    float: left;
    width: 60%;
    height:150px;
    border:0.5px solid #E1E1E1;
}
#bozhon-show-two-part3-low1-btn{
    position: relative;
    left: 5px;
    float: left;
    width: 30%;
    height: 150px;
    border:0.5px solid #E1E1E1;
    background-color: #F3F3F3;
}
#bozhon-show-two-part3-btn1{
     width: 40%;
     height: 35px;
     margin-top: 20px;
     margin-left: 20px;
     float: left;
}
#bozhon-show-two-part3-btn1 span{
    font-size:15px;
    margin-left: 10px;
    margin-right: 5px;
}
#bozhon-show-two-part3-btn2{
    width: 40%;
     height: 35px;
     margin-top: 20px;
     margin-left: 20px;
     float: left;
}
#bozhon-show-two-part3-btn2 span{
    font-size:15px;
    margin-left: 10px;
    margin-right: 5px;
}
#bozhon-show-two-part3-btn3{
    width: 40%;
     height: 35px;
     margin-top: 40px;
     margin-left: 20px;
     float: left;
}
#bozhon-show-two-part3-btn3 span{
    font-size:15px;
    margin-left: 10px;
    margin-right: 5px;
}
#bozhon-show-two-part3-btn4{
    width: 40%;
     height: 35px;
     margin-top: 40px;
     margin-left: 20px;
     float: left;
}
#bozhon-show-two-part3-btn4 span{
    font-size:15px;
    margin-left: 10px;
    margin-right: 5px;
} */
#bozhon-show-three {
    width: 100%;
    height: 555px;
    
}
#bozhon-show-three-part1{
    float: left;
    width: 100%;
    height: 100px;
    margin-left: 5px;
    background-color: white;
}
#bozhon-show-three-part1-low1{
    width: 95%;
    height: 70px;
    position: relative;
    left: 2.5%;
    border-bottom:1px dotted #e0dcdc;
}
#bozhon-show-three-part1-low1 span:nth-child(1){
    font-size: 25px;
    font-style: heiti;
    font-weight: 700;
    position: relative;
    top: 30px;
    
}
#bozhon-show-three-part1-low1 span:nth-child(2){
    font-size:10px;
    font-style: heiti;
    font-weight: 500;
    position: relative;
    color: gray;
    top:33px;
    left: 3px;
}
#bozhon-show-three-part1-low1 span:nth-child(3){
    font-size:15px;
    font-style: heiti;
    font-weight: 500;
    position: relative;
    color: gray;
    top:33px;
    left: 3px;
}
#bozhon-show-three-part1-low1 input:nth-child(4){
    height: 25px;
    width: 40px;
    position: absolute;
    top:33px;
    right: 190px;
    background-color: #F8B62B;
    border: 0px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
#bozhon-show-three-part1-low1 input:nth-child(4):active{
    width: 38px;
    height: 23px;
    background-color: #B27306;
}
#bozhon-show-three-part1-low1 input:nth-child(5){
    height: 25px;
    width: 40px;
    position: absolute;
    top:33px;
    right: 140px;
    background-color: #F8B62B;
    border: 0px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
#bozhon-show-three-part1-low1 input:nth-child(5):active{
    width: 38px;
    height: 23px;
    background-color: #B27306;
}
#bozhon-show-three-part1-low1 input:nth-child(6){
    height: 25px;
    width: 40px;
    position: absolute;
    top:33px;
    right: 90px;
    background-color: #F8B62B;
    border: 0px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
#bozhon-show-three-part1-low1 input:nth-child(6):active{
    width: 38px;
    height: 23px;
    background-color: #B27306;
}
#bozhon-show-three-part1-low1 input:nth-child(7){
    height: 25px;
    width: 40px;
    position: absolute;
    top:33px;
    right: 40px;
    background-color: #F8B62B;
    border: 0px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
#bozhon-show-three-part1-low1 input:nth-child(7):active{
    width: 38px;
    height: 23px;
    background-color: #B27306;
}
#bozhon-show-three-part2{
    float: left;
    width: 95%;
    margin-left: 5px;
}
#bozhon-show-three-part2-low1{
    widows: 95%;
    position: relative;
    left: 2.5%;
    background-color: #F8B62B;
    height: 40px;
    font-size: 14px;
}
#bozhon-show-three-part2-low1 span{
    position: relative;
    left: 10px;
    top: 10px;
}
#bozhon-show-three-part2-low2{
    widows: 95%;
    position: relative;
    left: 2.5%;
    text-align: center;
    border:1px solid #F1F1F1;
    border-collapse: 1px;
    border-spacing:0;
} 
#bozhon-show-three-part2-low2 tr:nth-child(1){
    background-color: #F1F1F1;
    width: 100%;
    height: 50px;
    border:0.2px solid #E1E1E1;
}
#bozhon-show-three-part2-low2 tr:nth-child(2){
    width: 100%;
    height: 30px;
    border:0.2px solid #E1E1E1;
}
#bozhon-show-three-part2-low2 td{
    border:0.2px solid #E1E1E1;
}
#bozhon-show-three-part2-low2 td img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}
#bozhon-show-three-part2-low2 td img:active{
    position: relative;
    top: 1px;
}
#bozhon-show-three-part2-low2 th{
    border:0.2px solid #E1E1E1;
}
#bozhon-show-three-part3{
    float: left;
    margin-left: 5px;
    width: 95%;
    position: relative;
    left: 2.5%;
    top:280px;
}
#bozhon-show-three-part3-pagebtn{
    width: 100%;
    height: 40px;
    background-color: #F1F1F1;
    text-align: center;
    border:1px solid #E1E1E1;
}
#bozhon-show-three-part3-pagefirst{
    float: left;
    position: relative;
    left: 350px;
    top: 10px;
}
#bozhon-show-three-part3-pagefirst img{
    height: 20px;
    width: 20px;
}
#bozhon-show-three-part3-pageprev{
    float: left;
    position: relative;
    left: 370px;
    top: 13px;
}
#bozhon-show-three-part3-pageprev img{
    height: 14px;
    width: 14px;
}
#bozhon-show-three-part3-pageinput{
    float: left;
    position: relative;
    left: 380px;
    top: 10px;
    color: gray;
}
#bozhon-show-three-part3-pageinput input{
    height: 20px;
    width: 20px;
    text-align: center;
}
#bozhon-show-three-part3-pagenext{
    float: left;
    position: relative;
    left: 380px;
    top: 10px;
}
#bozhon-show-three-part3-pagenext img{
    height: 20px;
    width: 20px;
}
#bozhon-show-three-part3-pagelast{
    float: left;
    position: relative;
    left: 390px;
    top: 10px;
}
#bozhon-show-three-part3-pagelast img{
    height: 20px;
    width: 20px;
}
#bozhon-show-three-part3-cue{
    float: left;
    position: relative;
    left: 700px;
    top: 10px;
    color:gray;
}
#bozhon-show-four{
    width: 100%;
    height: 555px;
}
#bozhon-show-four-part1{
    float: left;
    width: 100%;
    height: 100px;
    margin-left: 5px;
    background-color: white;
}
#bozhon-show-four-part1-low1{
    width: 95%;
    height: 70px;
    position: relative;
    left: 2.5%;
    border-bottom:1px dotted #e0dcdc;
}
#bozhon-show-four-part1-low1 span:nth-child(1){
    font-size: 25px;
    font-style: heiti;
    font-weight: 700;
    position: relative;
    top: 30px;
    
}
#bozhon-show-four-part1-low1 span:nth-child(2){
    font-size:10px;
    font-style: heiti;
    font-weight: 500;
    position: relative;
    color: gray;
    top:33px;
    left: 3px;
}
#bozhon-show-four-part1-low1 span:nth-child(3){
    font-size:15px;
    font-style: heiti;
    font-weight: 500;
    position: relative;
    color: gray;
    top:33px;
    left: 3px;
}
#bozhon-show-four-part1-low1 input:nth-child(4){
    height: 25px;
    width: 40px;
    position: absolute;
    top:33px;
    right: 190px;
    background-color: #F8B62B;
    border: 0px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
#bozhon-show-four-part1-low1 input:nth-child(4):active{
    width: 38px;
    height: 23px;
    background-color: #B27306;
}
#bozhon-show-four-part1-low1 input:nth-child(5){
    height: 25px;
    width: 40px;
    position: absolute;
    top:33px;
    right: 140px;
    background-color: #F8B62B;
    border: 0px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
#bozhon-show-four-part1-low1 input:nth-child(5):active{
    width: 38px;
    height: 23px;
    background-color: #B27306;
}
#bozhon-show-four-part1-low1 input:nth-child(6){
    height: 25px;
    width: 40px;
    position: absolute;
    top:33px;
    right: 90px;
    background-color: #F8B62B;
    border: 0px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
#bozhon-show-four-part1-low1 input:nth-child(6):active{
    width: 38px;
    height: 23px;
    background-color: #B27306;
}
#bozhon-show-four-part1-low1 input:nth-child(7){
    height: 25px;
    width: 40px;
    position: absolute;
    top:33px;
    right: 40px;
    background-color: #F8B62B;
    border: 0px;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
}
#bozhon-show-four-part1-low1 input:nth-child(7):active{
    width: 38px;
    height: 23px;
    background-color: #B27306;
}
#bozhon-show-four-part2{
    float: left;
    width: 95%;
    margin-left: 5px;
}
#bozhon-show-four-part2-low1{
    widows: 95%;
    position: relative;
    left: 2.5%;
    background-color: #F8B62B;
    height: 40px;
    font-size: 14px;
}
#bozhon-show-four-part2-low1 span{
    position: relative;
    left: 10px;
    top: 10px;
}
#bozhon-show-four-part2-low2{
    widows: 95%;
    position: relative;
    left: 2.5%;
    text-align: center;
    border:1px solid #F1F1F1;
    border-collapse: 1px;
    border-spacing:0;
} 
#bozhon-show-four-part2-low2 tr:nth-child(1){
    background-color: #F1F1F1;
    width: 100%;
    height: 50px;
    border:0.2px solid #E1E1E1;
}
#bozhon-show-four-part2-low2 tr:nth-child(2){
    width: 100%;
    height: 30px;
    border:0.2px solid #E1E1E1;
}
#bozhon-show-four-part2-low2 td{
    border:0.2px solid #E1E1E1;
}
#bozhon-show-four-part2-low2 th{
    border:0.2px solid #E1E1E1;
}
#bozhon-show-four-part2-low2 td img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}
#bozhon-show-four-part2-low2 td img:active{
    position: relative;
    top: 1px;
}
#bozhon-show-four-part3{
    float: left;
    margin-left: 5px;
    width: 95%;
    position: relative;
    left: 2.5%;
    top:280px;
}
#bozhon-show-four-part3-pagebtn{
    width: 100%;
    height: 40px;
    background-color: #F1F1F1;
    text-align: center;
    border:1px solid #E1E1E1;
}
#bozhon-show-four-part3-pagefirst{
    float: left;
    position: relative;
    left: 350px;
    top: 10px;
}
#bozhon-show-four-part3-pagefirst img{
    height: 20px;
    width: 20px;
}
#bozhon-show-four-part3-pageprev{
    float: left;
    position: relative;
    left: 370px;
    top: 13px;
}
#bozhon-show-four-part3-pageprev img{
    height: 14px;
    width: 14px;
}
#bozhon-show-four-part3-pageinput{
    float: left;
    position: relative;
    left: 380px;
    top: 10px;
    color: gray;
}
#bozhon-show-four-part3-pageinput input{
    height: 20px;
    width: 20px;
    text-align: center;
}
#bozhon-show-four-part3-pagenext{
    float: left;
    position: relative;
    left: 380px;
    top: 10px;
}
#bozhon-show-four-part3-pagenext img{
    height: 20px;
    width: 20px;
}
#bozhon-show-four-part3-pagelast{
    float: left;
    position: relative;
    left: 390px;
    top: 10px;
}
#bozhon-show-four-part3-pagelast img{
    height: 20px;
    width: 20px;
}
#bozhon-show-four-part3-cue{
    float: left;
    position: relative;
    left: 700px;
    top: 10px;
    color:gray;
}