<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../js/vue.js"></script>
    <script src="../js/jquery-3.3.1.min.js"></script>
    <link href="../css/index.css" rel="stylesheet" />
</head>
<body>
    <div id="bozhon-head-page">
        <div id="bozhon-head-logo">
            <a><img src="../images/abd4af3e47a214a78c73467f30dbbda8.png"/></a>
        </div>
        <div id="bozhon-head-login" v-on:click="headmuneshow" v-bind:class="{'bozhon-head-loginborder':bordertxt}"><img v-bind:src="imgsrc" /></div>
       <div id="bozhon-head-mune" v-bind:style="{opacity:opacitytxt}">
           <div id="bozhon-head-sanjiao"></div>
           <div id="bozhon-head-username"><img src="../images/usernameimg.png"/>{{username}}</div>
           <div id="bozhon-head-jump" v-if="jumpshow" ><img src="../images/设置.png" v-on:click="headmunejump"/>配置</div>
           <div id='bozhon-head-exit' ><img src="../images/退出.png" v-on:click="headmuneexit">退出</div>
           <div></div>
       </div>
    </div>
    <div id="bozhon-mune-box" :class="{'bozhon-mune-boxchange':boxclasstxt}" class="bozhon-mune-boxwidth">
        <div id="bozhon-mune-btn" v-on:click="munechange"><img src="../images/菜单 (2).png"></div>
        <div class="bozhon-mune-table" v-for="(item,index) in btntxts" v-on:click="isshow(index)" v-bind:style="{'background':activecolor===index?'#B27306':''}"><img v-bind:src="item.imgsrc">{{item.btntxt}}</div>
    </div>
    <div id="bozhon-show-box" :class="{'bozhon-show-boxchange':boxclasstxt}"class="bozhon-show-boxclass" >
        
        <div id="bozhon-show-one" v-bind:style="{display:displaystr}" >
            <div id="bozhon-show-one-part1">
                <div id="bozhon-show-one-part1-low1">
                    <span>控制台</span><span>>>></span><span>查看</span>
                </div>
            </div>
            <div id="bozhon-show-one-part2">
                <div id="bozhon-show-one-part2-low1">
                    <img src="../images/信号.png"/>
                    <span>实时状态</span>
                    <span>|</span>
                    <img v-bind:src="imgsrc1"/>
                </div>
                <div id="bozhon-show-one-part2-low2"></div>
            </div>
            <div id="bozhon-show-one-part3">
                <div id="bozhon-show-one-part3-low1">
                    <img src="../images/信号.png"/>
                    <span>机器人种类</span>
                    <span>|</span>
                    <img v-bind:src="imgsrc2" />
                </div>
                <div id="bozhon-show-one-part3-low2"></div>
            </div>
            <div id="bozhon-show-one-part4">
                <div id="bozhon-show-one-part4-low1">
                    <img src="../images/信号.png"/>
                    <span>统计数据</span>
                    <span>|</span>
                    <img v-bind:src="imgsrc3"/>
                </div>
                <div id="bozhon-show-one-part4-low2"></div>
            </div>
        </div>
        <div id="bozhon-show-two" v-bind:style="{display:displaystr}" >{{message}}</div>
        <div id="bozhon-show-three" v-bind:style="{display:displaystr}" >{{message}}</div>
        <div id="bozhon-show-four" v-bind:style="{display:displaystr}">{{message}}</div>
    </div>
    <script src="../js/indexjquery.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>