<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>BOHHOM</title>
<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/vue.js"></script>
<link rel="stylesheet" type="text/css" href="../css/login.css"/>
</head>
<body>
<div id="bozhon-login-page">
    <img src="../images/abd4af3e47a214a78c73467f30dbbda8.png" id="bozhon-login-logoimg"/>
    <img src="../images/usernameimg.png" id="bozhon-login-nameimg">
    <img src="../images/userpwdimg.png" id="bozhon-login-pwdimg">
    <input id="bozhon-login-nameinput" placeholder="UserName" type="text" v-model="username"/>
    <input id="bozhon-login-pwdinput" placeholder="PassWord" type="password" v-model="password"/>
    <input type="button" value="登陆" id="bozhon-login-loginbuttn"/>
</div>
<canvas id="canvas"></canvas>
<script src="../js/login.js"></script>
<script src="../js/loginbackground.js"></script>
</body>
</html>

